.column-card {
  /*display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 500px;*/
  width: 100%;
  box-sizing: border-box;
}
.task-settings-card {
  min-width: 250px;
  margin-left: 10px;
}
.employees-list {
  max-height: 300px;
  overflow: auto;
}
.employees-settings {
  display: flex;
}
.employees-settings button {
  margin-left: auto;
}
.employees-settings p {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 0px !important;
}
.mat-list-item a {
  display: flex;
}
.mat-list-item a mat-icon {
  margin-left: auto;
}
.description {
  max-width: 700px;
  padding-right: 15px;
  /*white-space:pre-wrap;*/
}
.user-select {
  width: 100%;
}
.todo-wrap {
  /*max-width: 900px;*/
  max-height: 95vh;
  /*overflow: auto;*/
  position: relative;
}
mat-dialog-container {
  padding: 0;
}
.todo-close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.todo-creator-subtitle, .todo-creator-subtitle p {
  margin: 0;
  font-weight: normal;
}
.assignees-title {
  margin: 0;
  font-weight: normal;
}
.todo-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
}
::ng-deep .todo-wrap .ng-scroll-content {
  /*padding: 32px;*/
  display: block;
  max-width: 100%;
  min-width: 90%;
}
.todo-spinner-wrap {
  padding: 32px;
}
.employees-list a {
  font-size: 14px;
}
.creator-name {
  margin-bottom: 10px;
}
.drag-handler {
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
}
.drag-handler-top {
  width: 100%;
  height: 30px;
}
.drag-handler-left {
  bottom: 0;
  width: 30px;
}
.todo-content {
  position: relative;
  padding: 32px;
}



@media screen and (max-width: 925px) {
  .todo-container {
    flex-direction: column;
  }
  .task-settings-card {
    margin: 0;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .todo-content {
    padding: 10px;
    padding-top: 32px;
  }
}
