.column-card {
  display: flex;
  flex-direction: row;
}
.task-settings-card {
  min-width: 300px;
}
.employees-list {
  max-height: 300px;
  overflow: auto;
}
.employees-settings {
  display: flex;
  margin-bottom: 20px;
}
.employees-settings button {
  margin-left: auto;
}
.employees-settings p {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 0px !important;
}
.mat-list-item a {
  display: flex;
}
.mat-list-item a mat-icon {
  margin-left: auto;
}
.description {
  min-width: 300px;
  max-width: 700px;
  padding-right: 15px;
  white-space:pre-wrap;
}
.comments-card {
  margin-top: 10px;
}
.comments-card mat-form-field {
  width: 100%;
}
.comments-card button {
  margin-bottom: 1.34375em;
  margin-left: 10px;
  border-radius: 50%;
  min-width: 48px;
  height: 48px;
}
.comments-card mat-spinner {
  margin-bottom: 1.34375em;
}
.comment-field-group {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
}
.comment-properties-group {
  display: flex;
}
.comment-author-name span {
  color: rgba(0,0,0,.54);
}
.comment-upper-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.comment-controls mat-icon:last-child {
  margin-left: 20px;
}
.comments-section {
  max-height: 200px;
}
.single-comment-card {
  margin: 10px 10px 10px 1px;
}
.user-select {
  margin-top: 10px;
  width: 100%;
}
.clickable-icon {
  cursor: pointer;
}
.comments-card-title {
  display: flex;
}
.comments-card-title mat-icon {
  margin-left: 15px;
  cursor: pointer;
}
.comment-text {
  white-space:pre-wrap;
}
.todo-wrap {
  max-height: 100vh;
  overflow: auto;
  padding: 24px;
  position: relative;
}
::ng-deep.mat-dialog-container {
  padding: 0;
}
.todo-close-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
.todo-creator-subtitle, .todo-creator-subtitle p {
  margin: 0;
}
.comments-spinner {
  display: flex;
  justify-content: center;
}
.comment-updating-group {
  display: flex;
  align-items: center;
}
.comment-updating-field ::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em;
}
.comment-updating-group button {
  margin-bottom: 0;
}
.comment-update-icon {
  width: 30px;
}
.comment-update-icon {
  margin-left: 15px;
  font-weight: bold;
}
.assignees-title {
  margin: 0;
}

