<div *ngIf="(todoLoaded | async); else todoShowNotLoaded" class="todo-wrap">
  <div class="todo-content">
    <div class="drag-handler drag-handler-left" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle cdkDragBoundary=".cdk-overlay-container"></div>
    <div class="drag-handler drag-handler-top" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle cdkDragBoundary=".cdk-overlay-container"></div>
    <mat-icon class="todo-close-icon" (click)="closeDialog()">close</mat-icon>
    <mat-card class="todo-container">
      <div class = "column-card">
        <div>
          <mat-card-title>
            <p class="todo-title"><app-todo-code [todoCode]="todo!.code"></app-todo-code>{{todo!.name}}</p>
          </mat-card-title>
          <mat-card-content *ngIf="todo!.body">
            <mat-card-subtitle>
              <p>Описание:</p>
            </mat-card-subtitle>
            <app-raw-html-viewer [html]="todo!.body"></app-raw-html-viewer>
          </mat-card-content>
        </div>
      </div>
      <div class = "task-settings-card">
        <mat-card-content>
          <mat-card-subtitle class="todo-creator-subtitle">
            <p>Создатель:
            <span class="creator-name" *ngIf="getToDoCreator() !== undefined">{{getToDoCreator()!.deskUser.user.name}} {{getToDoCreator()!.deskUser.user.surname}}</span>
              <span class="creator-name" *ngIf="getToDoCreator() === undefined">---</span></p>
          </mat-card-subtitle>
          <mat-card-subtitle>
              <p class="assignees-title">Назначенные исполнители:</p>
              <mat-chip-list aria-label="Users selection">
                <mat-chip class="assignee-chip" *ngFor="let assigneeTodoUser of getToDoUsers(); index as i"
                          [matMenuTriggerFor]="rolesService.userHasPermission(data.roles, data.deskUser, rolesService.permissionsTypes.ManageAssigners) ||
                          (assigneeTodoUser.deskUser.id === data.deskUser.id &&
                          rolesService.userHasPermission(data.roles, data.deskUser, rolesService.permissionsTypes.AssignTasksThemself)) ? assigneeMenu : null">
                  <p *ngIf="assigneesLoaded[i] | async">{{assigneeTodoUser.deskUser.user.name}} {{assigneeTodoUser.deskUser.user.surname}}</p>
                  <mat-menu #assigneeMenu>
                    <button mat-menu-item (click)="removeUser(assigneeTodoUser.id)"><mat-icon>delete</mat-icon>Удалить</button>
                  </mat-menu>
                  <mat-spinner *ngIf="!(assigneesLoaded[i] | async)" diameter="24" class="black-spinner"></mat-spinner>
                </mat-chip>
                <mat-chip *ngIf="rolesService.userHasPermission(data.roles, data.deskUser, rolesService.permissionsTypes.ManageAssigners)
                 || rolesService.userHasPermission(data.roles, data.deskUser, rolesService.permissionsTypes.AssignTasksThemself)"
                          [matTooltip]="freeUsers.length ? 'Добавить исполнителей' : 'Все участники уже назначены на эту задачу!'" [disabled]="!freeUsers.length" [matMenuTriggerFor]="freeUsers.length ? addUserMenu : null">
                  <mat-icon *ngIf="newAssigneeLoaded | async">add</mat-icon>
                  <mat-spinner *ngIf="!(newAssigneeLoaded | async)" class="black-spinner" diameter="24"></mat-spinner>
                </mat-chip>
                <mat-menu xPosition="before" #addUserMenu>
                  <button *ngFor="let deskUser of freeUsers" (click)="assignUser(deskUser.id)" mat-menu-item>{{deskUser.user.name}} {{deskUser.user.surname}}</button>
                </mat-menu>
              </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-content>
      </div>
    </mat-card>

    <app-all-comments [roles]="data.roles" [todoId]="data.todoId" [deskUser]="data.deskUser"></app-all-comments>
  </div>
</div>
<ng-template #todoShowNotLoaded>
  <div class="todo-spinner-wrap">
    <mat-spinner class="spinner-centered" diameter="50"></mat-spinner>
  </div>
</ng-template>
