<div *ngIf="(todoLoaded | async); else todoShowNotLoaded" class="todo-wrap">
  <div class="todo-content">
    <div class="drag-handler drag-handler-left" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle cdkDragBoundary=".cdk-overlay-container"></div>
    <div class="drag-handler drag-handler-top" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle cdkDragBoundary=".cdk-overlay-container"></div>
    <mat-icon class="todo-close-icon" (click)="closeDialog()">close</mat-icon>
    <mat-card class="todo-container">
      <div class = "column-card">
        <div>
          <mat-card-title>
            <p class="todo-title"><app-todo-code [todoCode]="todo!.code"></app-todo-code>{{todo!.name}}</p>
          </mat-card-title>
          <mat-card-content *ngIf="todo!.body">
            <mat-card-subtitle>
              <p>Описание:</p>
            </mat-card-subtitle>
            <app-raw-html-viewer [html]="todo!.body"></app-raw-html-viewer>
          </mat-card-content>
        </div>
      </div>
      <div class = "task-settings-card">
        <mat-card-content>
          <mat-card-subtitle class="todo-creator-subtitle">
            <p>Создатель:
            <span class="creator-name" *ngIf="getToDoCreator() !== undefined">{{getToDoCreator()!.deskUser.user.name}} {{getToDoCreator()!.deskUser.user.surname}}</span>
              <span class="creator-name" *ngIf="getToDoCreator() === undefined">---</span></p>
          </mat-card-subtitle>
          <mat-card-subtitle>
            <div class="employees-settings" *ngIf="rolesService.userHasPermission(data.roles, data.deskUser, rolesService.permissionsTypes.AssignTasksThemself) || rolesService.userHasPermission(data.roles, data.deskUser, rolesService.permissionsTypes.ManageAssigners)">
              <mat-form-field class="user-select" appearance="fill">
                <mat-label>Исполнители</mat-label>
                <mat-select *ngIf="rolesService.userHasPermission(data.roles, data.deskUser, rolesService.permissionsTypes.ManageAssigners)" #select [formControl]="users" multiple (closed)="changeUsers(select)">
                  <mat-option *ngFor="let user of getDeskUsers()" [value]="user.id">{{user.name}} {{user.surname}}</mat-option>
                </mat-select>
                <mat-select *ngIf="!rolesService.userHasPermission(data.roles, data.deskUser, rolesService.permissionsTypes.ManageAssigners) && rolesService.userHasPermission(data.roles, data.deskUser, rolesService.permissionsTypes.AssignTasksThemself)" #select [formControl]="user" multiple (closed)="changeSingleUser(select)">
                  <mat-option [value]="data.deskUser.user.id">{{data.deskUser.user.name}} {{data.deskUser.user.surname}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-spinner class="spinner-centered" *ngIf="!(areUsersLoaded|async)" diameter="30"></mat-spinner>
            <ng-container *ngIf="areUsersLoaded|async">
              <p *ngIf="getToDoUsers().length" class="assignees-title">Назначенные исполнители:</p>
              <mat-chip-list aria-label="Dog selection">
                <mat-chip class="assignee-chip" *ngFor="let user of getToDoUsers()" [matMenuTriggerFor]="rolesService.userHasPermission(data.roles, data.deskUser, rolesService.permissionsTypes.ManageAssigners) ? assigneeMenu : emptyMenu">
                  <p>{{user.deskUser.user.name}} {{user.deskUser.user.surname}}</p>
                  <mat-menu #assigneeMenu>
                    <button mat-menu-item (click)="removeUser(user.id)"><mat-icon>delete</mat-icon>Удалить</button>
                  </mat-menu>
                  <mat-menu style="display: none;" #emptyMenu></mat-menu>
                </mat-chip>
                <mat-chip [matMenuTriggerFor]="addUserMenu">
                  <mat-icon>add</mat-icon>
                </mat-chip>
                <mat-menu #addUserMenu>
                  <button *ngFor="let deskUser of getFreeUsers()" (click)="assignUser(deskUser.id)" mat-menu-item>{{deskUser.user.name}} {{deskUser.user.surname}}</button>
                </mat-menu>
              </mat-chip-list>
            </ng-container>
          </mat-card-subtitle>
        </mat-card-content>
      </div>
    </mat-card>

    <app-all-comments [roles]="data.roles" [todoId]="data.todoId" [deskUser]="data.deskUser"></app-all-comments>
  </div>
</div>
<ng-template #todoShowNotLoaded>
  <div class="todo-spinner-wrap">
    <mat-spinner class="spinner-centered" diameter="50"></mat-spinner>
  </div>
</ng-template>
