<mat-card class = "column-card">
  <div>
    <mat-card-title>
      <p>{{data.todo.name}}</p>
    </mat-card-title>

    <mat-card-content>
      <mat-card-subtitle>
        <p>Описание:</p>
      </mat-card-subtitle>
      <p class="description">{{data.todo.body}}</p>
    </mat-card-content>
  </div>

  <mat-card class = "task-settings-card">
    <mat-card-title>
      <p>Свойства задания</p>
    </mat-card-title>

    <mat-card-content>
      <mat-card-subtitle>
        <p>Создано:</p>
      </mat-card-subtitle>
      <ng-container *ngIf="getToDoCreator() !== undefined">{{getToDoCreator()!.deskUser.user.name}}</ng-container>
      <ng-container *ngIf="getToDoCreator() === undefined">---</ng-container>
      <mat-card-subtitle>
        <div class="employees-settings">
          <p>Исполнители:</p>
          <mat-form-field class="user-select" appearance="fill">
            <mat-label>Исполнители</mat-label>
            <mat-select *ngIf="checkUserPermission(data.deskUser, 'ManageAssigners')" #select [formControl]="users" multiple (closed)="changeUsers(select)">
              <!--<mat-select-trigger>
                {{users.value ? users.value[0] : ''}}
                <span *ngIf="users.value?.length > 1" class="example-additional-selection">
        (+{{users.value.length - 1}} {{users.value?.length === 2 ? 'еще' : 'еще'}})
      </span>
              </mat-select-trigger>-->
              <mat-option *ngFor="let user of getDeskUsers()" [value]="user.id">{{user.name}} {{user.surname}}</mat-option>
            </mat-select>
            <mat-select *ngIf="!checkUserPermission(data.deskUser, 'ManageAssigners')" #select [formControl]="users" multiple (closed)="changeSingleUser(select)">

              <mat-option [value]="data.deskUser.user.id">{{data.deskUser.user.name}} {{data.deskUser.user.surname}}</mat-option>
            </mat-select>
            <!--<mat-select [formControl]="toppings" multiple>
              <mat-select-trigger>
                {{toppings.value ? toppings.value[0] : ''}}
                <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
        (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
      </span>
              </mat-select-trigger>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping.name}}</mat-option>
            </mat-select>-->
          </mat-form-field>
          <!--<button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" >
            <mat-icon>add</mat-icon>
          </button>-->
        </div>
        <mat-nav-list class ="employees-list">
          <mat-list-item *ngFor="let user of getToDoUsers()">
            <a matLine>{{user.deskUser.user.name}} {{user.deskUser.user.surname}}</a><mat-divider></mat-divider>
          </mat-list-item>

          <!--<a mat-list-item *ngFor="let desk of desks"> {{ desk.name }}<mat-divider></mat-divider> </a>-->

        </mat-nav-list>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</mat-card>

<!--<button class = "register_button" mat-raised-button color="primary" (click)="createDesk()">Создать доску</button>-->
