:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
mat-form-field
{
    width:100%;
}
.register_button
{
    width: 100%;
}
::ng-deep .checkbox-wrap .mat-checkbox-label {
  white-space: normal;
}
::ng-deep .checkbox-wrap .mat-checkbox-layout {
  display: flex;
  align-items: flex-start;
  vertical-align: unset;
}
::ng-deep .checkbox-wrap .mat-checkbox-inner-container {
  margin-top: 3px;
}
.user-agreement-error {
  font-size: 10.5px;
}
