<form (ngSubmit)="createDesk()" class="full-width-form">
  <mat-form-field appearance="fill">
    <mat-label>Название доски</mat-label>
    <input matInput placeholder="Новая доска" [formControl]="name" required>
    <mat-error *ngIf="name.errors?.['required']">Поле не должно быть пустым!</mat-error>
    <mat-error *ngIf="name.errors?.['minlength']">Длина названия должна быть не менее 6 символов!</mat-error>
  </mat-form-field>
  <button *ngIf="isLoaded" class = "register_button" mat-raised-button color="primary">Создать доску</button>
  <mat-spinner class="spinner-centered" diameter="36" *ngIf="!isLoaded"></mat-spinner>
</form>
