/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spinner__container {
  width: 100%;
  display: flex;
}

.spinner__container-centered{
  align-items: center;
  justify-content: center;
}
.spinner-centered {
  margin: 0 auto;
}
.mat-tooltip {
  font-size: 14px !important;
}
.todo-show-wrap mat-dialog-container {
  padding: 0;
}
