<form [formGroup]="loginFormGroup" (ngSubmit)="makeLogin()">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="pat@example.com" formControlName="email" required>
    <mat-error *ngIf="loginFormGroup.controls.email.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Пароль</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button" tabindex="-1">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button *ngIf="!(this.busy | async)" class = "login_button" mat-raised-button color="primary" type="submit">Войти</button>
  <div *ngIf="(this.busy | async)" class="spinner__container spinner__container-centered">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

</form>
