.settings-desk-name {
  display: flex;
  margin-top: 5px;
  margin-bottom: 13px;
  align-items: center;
}
.settings-desk-name mat-icon {
  cursor: pointer;
}
.desk-name {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.settings-button {
  height: min-content;
  min-width: auto;
}
.settings-button mat-icon {
  margin-left: 8px;
}
.desk-info-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desk-info-title {
  min-width: 0;
}
.desk-creator-name {
  overflow: hidden;
  text-overflow: ellipsis;
}
