<mat-card>
  <div class="desk-info-group">
    <div class="desk-info-title">
      <mat-card-title class="settings-desk-name">
        <mat-icon *ngIf="returnLink" [routerLink]="returnLink">arrow_back</mat-icon>
        <p class="desk-name">1111111 {{desk?.name}}</p>
      </mat-card-title>
      <mat-card-subtitle>
        <p class="desk-creator-name" *ngIf="getDeskOwner()">Руководитель: {{getDeskOwner()!.user.name}} {{getDeskOwner()!.user.surname}}</p>
      </mat-card-subtitle>
    </div>
    <button *ngIf="settingsLink && rolesService.userHasAtLeastOnePermissionForAllSettings(roles, deskUserService.getCurrentDeskUser(desk)!)" class="settings-button" [routerLink]="settingsLink" mat-raised-button color="primary">Настройки
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-card>
