<div *ngIf="isLoaded && desks.length > 0 && desk != undefined">
  <mat-sidenav-container class="example-container" >
    <mat-sidenav class = "my-sidenav" #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
      <h2 class="mat-h2">Мои доски</h2>
      <div class="sidenav-container">
        <mat-nav-list>
          <mat-list-item *ngFor="let desk of desks; index as i">
            <!--<a *ngIf="isCurrentDesk(i)" matLine (click) = "changeDesk(i)"><mat-icon>check_box</mat-icon>{{ desk.name }} {{desk.id}}<mat-divider></mat-divider></a>-->
            <a matLine (click) = "changeDesk(desk.id)">{{ desk.name }}<mat-divider></mat-divider></a>
          </mat-list-item>

          <!--<a mat-list-item *ngFor="let desk of desks"> {{ desk.name }}<mat-divider></mat-divider> </a>-->

        </mat-nav-list>
        <div class = "menu-bottom-button">
          <button class = "register_button create-desk-button" mat-raised-button color="primary" (click)="showDeskCreation()">Создать доску</button>
        </div>
      </div>


    </mat-sidenav>

    <mat-sidenav-content>
      <p>
        <mat-toolbar color="primary">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>NeKanban</span>
          <span class="example-spacer"></span>
          <mat-icon>account_circle</mat-icon>
          <span class="user-name">{{ getCurrentUser().name}}</span>
          <button *ngIf="getCurrentDesk()!.deskUser.preference && isFavouriteLoaded" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click) = "removeFromFavourites(desk?.id)">
            <mat-icon>favorite</mat-icon>
          </button>
          <button *ngIf="!getCurrentDesk()!.deskUser.preference && isFavouriteLoaded" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click) = "addToFavourite(desk?.id)">
            <mat-icon>favorite_border</mat-icon>
          </button>
          <mat-spinner class="spinner-centered spinner-white" diameter="24" *ngIf="!isFavouriteLoaded"></mat-spinner>

          <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>-->
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
            <mat-icon>logout</mat-icon>
          </button>
        </mat-toolbar>
      </p>


      <mat-card>
        <mat-card-title-group>
          <mat-card-title>
            <p class="desk-name">{{desk?.name}}</p>
          </mat-card-title>
          <mat-card-subtitle>
            <p>Руководитель: {{getDeskOwner()!.user.name}} {{getDeskOwner()!.user.surname}}</p>
          </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card>

      <!--<mat-card>
        <div cdkDropList
             [cdkDropListData]="columns"
             class="example-list test-list"
             (cdkDropListDropped)="drop_column($event)"
             cdkDropListOrientation="horizontal"
        >
          <div *ngFor="let column of columns">
            <mat-card cdkDrag>
              <mat-card-title>
                {{column.name}}
              </mat-card-title>
            </mat-card>
          </div>
        </div>


      </mat-card>-->
      <mat-card class = "desk-cards">
        <mat-card-title>
          <div class = "menu-bottom-button">
            <button *ngIf="checkUserPermission(getCurrentDesk()!.deskUser, 'CreateColumns')" class = "add-column-button" mat-raised-button color="primary" (click)="openColumnCreationDialog()">Добавить колонку<mat-icon>add</mat-icon></button>
          </div>
        </mat-card-title>

        <!--<div cdkDropListGroup>-->
        <div class="desk-cards-inside" [ngClass]="{'desk-cards-inside-margin' : checkUserPermission(getCurrentDesk()!.deskUser, 'CreateColumns')}">
          <div cdkDropList
               [cdkDropListData]="columns"
               class="example-list"
               (cdkDropListDropped)="drop_column($event)"
               cdkDropListOrientation="horizontal"
          >
            <!--<div *ngFor="let column of columns">
              <div cdkDrag>
                {{column.name}}
              </div>
            </div>--
            class="column-cards"-->
            <div cdkDropListGroup class="column-cards">

              <div class="box-column-cards">
                <div *ngFor="let column of columns; index as i">
                  <mat-card class = "column-card" cdkDrag [cdkDragDisabled]="(column.type === 0 && checkUserPermission(getCurrentDesk()!.deskUser, 'ManageColumns')) ? 'false' : 'true'">
                    <mat-card-title class="column-card-title">
                      <mat-spinner *ngIf="!isColumnDeleteLoaded[i]" diameter="20"></mat-spinner>
                      <p [matTooltip]="column.name">{{column.name}}</p>
                        <button mat-button *ngIf="checkUserPermission(getCurrentDesk()!.deskUser, 'ManageColumns')" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="openColumnUpdatingDialog(column)"><mat-icon>edit</mat-icon>Редактировать</button>
                          <button mat-menu-item *ngIf="getToDosForColumn(column.id).length === 0 && column.type === 0" (click)="removeColumn(column.id)"><mat-icon>delete</mat-icon>Удалить</button>
                        </mat-menu>

                    </mat-card-title>

                    <mat-card-content>
                      <mat-card-subtitle>
                        <p>Задачи:</p>
                        <button *ngIf="column.order == -1 && checkUserPermission(getCurrentDesk()!.deskUser, 'CreateTasks')" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="openToDoCreationDialog()" >
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-card-subtitle>
                      <div
                        cdkDropList
                        [cdkDropListData]="column.todos"
                        class="example-list"
                        (cdkDropListDropped)="drop($event, column.id)">
                        <div class="example-box" *ngFor="let toDo of column.todos" cdkDrag [cdkDragDisabled]="checkUserPermission(getCurrentDesk()!.deskUser, 'MoveTasks') ? 'false' : true" >
                          <mat-icon matTooltip="Вы назначены исполнителем этой задачи!" class="red-icon" *ngIf="isUserAssigned(toDo)">circle</mat-icon>
                          <p (click)="openTaskCreationDialog(toDo)" class="todo-name">{{toDo.name}}</p>
                          <mat-icon *ngIf="checkUserPermission(getCurrentDesk()!.deskUser, 'UpdateTask')" (click)="openToDoEditingDialog(toDo)">edit</mat-icon>
                        </div>
                      </div>
                    </mat-card-content>
                    <!--<mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Пользователи
                        </mat-panel-title>
                        <mat-panel-description>

                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-nav-list class ="users-list">
                        <mat-list-item *ngFor="let user of desk!.deskUsers; index as i">
                          <a matLine>{{user.user.name}} </a><mat-divider></mat-divider>
                        </mat-list-item>

                        <a mat-list-item *ngFor="let desk of desks"> {{ desk.name }}<mat-divider></mat-divider> </a>

                      </mat-nav-list>
                    </mat-expansion-panel>-->

                  </mat-card>
                </div>

              </div>
            </div>
          </div>



          <mat-card class = "settings-card">
            <mat-card-title>
              <p>Настройки доски<mat-icon>settings</mat-icon></p>
            </mat-card-title>

            <mat-card-content *ngIf="checkUserPermission(getCurrentDesk()!.deskUser, 'UpdateGeneralDesk')">
              <mat-form-field  appearance="fill">
                <mat-label>Название доски</mat-label>
                <input matInput placeholder="Новая доска" [formControl]="name" required>
                <mat-error *ngIf="name.errors?.['required']">Поле не должно быть пустым!</mat-error>
                <mat-error *ngIf="name.errors?.['minlength']">Длина названия должна быть не менее 6 символов!</mat-error>
              </mat-form-field>
              <button *ngIf="isNameUpdateLoaded" class = "register_button" mat-raised-button color="primary" (click)="updateDesk(desk!.id)">Обновить название</button>
              <mat-spinner class="spinner-centered" diameter="36" *ngIf="!isNameUpdateLoaded"></mat-spinner>

            </mat-card-content>
            <mat-card-subtitle *ngIf="checkUserPermission(getCurrentDesk()!.deskUser, 'ViewInviteLink')" class="invite-link">
              <p><mat-icon>link</mat-icon>Ссылка для приглашения участников:</p>
              <p *ngIf="hasInviteLink()" class="p-link">{{ getInviteLink() }}</p>
              <button *ngIf="checkUserPermission(getCurrentDesk()!.deskUser, 'ManageInviteLink') && !hasInviteLink() && isLinkLoaded" class = "register_button" mat-raised-button color="primary" (click)="generateLink()">Сгенерировать ссылку</button>
              <mat-spinner class="spinner-centered" diameter="36" *ngIf="!isLinkLoaded"></mat-spinner>
            </mat-card-subtitle>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Пользователи
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-nav-list class ="users-list">
                <mat-spinner class="spinner-centered" *ngIf="!isUserRemoveLoaded" diameter="20"></mat-spinner>
                <mat-list-item class="single-user" *ngFor="let user of desk!.deskUsers; index as i">
                  <p>{{user.user.name}} {{user.user.surname}}</p>
                    <mat-form-field *ngIf="checkUserPermission(getCurrentDesk()!.deskUser, 'ChangeUserRole') && desk!.deskUsers[i].role !== 2" class = "role-selector" appearance="fill">
                      <mat-label>Роль</mat-label>
                      <mat-select (selectionChange)="changeUserRole($event, desk!.deskUsers[i].id)" [ngModel]="desk!.deskUsers[i].role">
                        <mat-option *ngFor="let role of roles" [value]="role.role">
                          {{role.roleName}}
                        </mat-option>
                        <!--<mat-option [selected] = "desk!.deskUsers[i].role === 0 ? '' : null">Участник</mat-option>
                        <mat-option [selected] = "desk!.deskUsers[i].role === 1 ? '' : null">Менеджер</mat-option>-->
                        <!--<mat-option [value]="zero">Участник</mat-option>
                        <mat-option [value]="one">Менеджер</mat-option>
                        <mat-option [value]="two">Создатель</mat-option>-->
                      </mat-select>

                    </mat-form-field>
                    <div class="role-name" *ngIf="checkUserPermission(getCurrentDesk()!.deskUser, 'ChangeUserRole') && desk!.deskUsers[i].role === 2">
                      {{roleNames[desk!.deskUsers[i].role]}}
                    </div>
                    <div class="role-name" *ngIf="!checkUserPermission(getCurrentDesk()!.deskUser, 'ChangeUserRole')">
                      {{roleNames[desk!.deskUsers[i].role]}}
                    </div>
                    <mat-icon class="cancel-icon" *ngIf="isUserRemoveLoaded && checkUserPermission(getCurrentDesk()!.deskUser, 'RemoveUsers') && desk!.deskUsers[i].role !== 2" (click)="removeUser([user.user.id])">cancel</mat-icon>


                  <mat-divider></mat-divider>
                </mat-list-item>

                <!--<a mat-list-item *ngFor="let desk of desks"> {{ desk.name }}<mat-divider></mat-divider> </a>-->

              </mat-nav-list>
            </mat-expansion-panel>
            <button *ngIf="checkUserPermission(getCurrentDesk()!.deskUser, 'DeleteDesk') && isRemoveDeskLoaded" class = "desk-remove-button" mat-raised-button color="warn" (click)="removeDesk(desk!.id)"><mat-icon>delete</mat-icon>Удалить доску</button>
            <mat-spinner class="spinner-centered" color="warn" diameter="36" *ngIf="!isRemoveDeskLoaded"></mat-spinner>

          </mat-card>
        </div>


      </mat-card>
      <!--<div cdkDropList class="example-list" (cdkDropListDropped)="drop_movie($event)">
        <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
      </div>-->


    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
<div *ngIf="isLoaded && (desks.length === 0 || desk === undefined)">
  <mat-sidenav-container class="example-container" >
    <mat-sidenav class = "my-sidenav" #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
      <h2 class="mat-h2">Мои доски</h2>
      <div class="sidenav-container">
        <mat-nav-list>


          <!--<a mat-list-item *ngFor="let desk of desks"> {{ desk.name }}<mat-divider></mat-divider> </a>-->

        </mat-nav-list>
        <div class = "menu-bottom-button">
          <button class = "register_button" mat-raised-button color="primary" (click)="showDeskCreation()">Создать доску</button>
        </div>
      </div>


    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>NeKanban</span>
        <span class="example-spacer"></span>
        <mat-icon>account_circle</mat-icon>
        <span class="user-name">{{ getCurrentUser().name}}</span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite_border</mat-icon>
        </button>

        <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>-->
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>

      <mat-card>
        <mat-card-title>
          Вы пока не назначены ни на одну из досок
        </mat-card-title>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div *ngIf="!isLoaded">
  <mat-sidenav-container class="example-container" >
    <mat-sidenav class = "my-sidenav" #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
      <h2 class="mat-h2">Мои доски</h2>
      <div class="sidenav-container">
        <mat-nav-list>


          <!--<a mat-list-item *ngFor="let desk of desks"> {{ desk.name }}<mat-divider></mat-divider> </a>-->

        </mat-nav-list>
        <div class = "menu-bottom-button">
          <button class = "register_button" mat-raised-button color="primary" (click)="showDeskCreation()">Создать доску</button>
        </div>
      </div>


    </mat-sidenav>

    <mat-sidenav-content class="full-height-content">
      <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>NeKanban</span>
        <span class="example-spacer"></span>
        <mat-icon>account_circle</mat-icon>
        <span class="user-name">{{ getCurrentUser().name}}</span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite_border</mat-icon>
        </button>

        <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>-->
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>


      <mat-spinner class="spinner" diameter="50"></mat-spinner>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
