.example-spacer {
  flex: 1 1 auto;
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}
.my-sidenav {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.my-sidenav h2 {
  margin: 10px;
}
.menu-bottom-button {
  flex: 1;
}
.register_button
{
  width: 100%;
}
.desk-cards {
 margin: 20px;
  height: 100%;
}
.settings-card{


  height: 80%;
  width: 400px;
  float: right;
}
mat-form-field
{
  width:100%;
}
.invite-link {
  margin-top: 20px !important;
}
.invite-link .p-link {
  text-decoration: underline;
}
.users-list {
  max-height: 400px;
  overflow: auto;
}

