<h2 class="mat-h2">Мои доски</h2>
<div class="sidenav-container">
  <mat-nav-list>
    <mat-list-item *ngFor="let desk of desks; index as i">
      <a matLine [routerLink]="['/desks', desk.id]" (click)="closeSidenav()">{{ desk.name }}<mat-divider></mat-divider></a>
    </mat-list-item>
  </mat-nav-list>
  <div class = "menu-bottom-button">
    <button class = "register_button create-desk-button" mat-raised-button color="primary" (click)="showDeskCreation()">Создать доску</button>
  </div>
</div>
