<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="project-name" [routerLink]="['']">NeKanban</span>
  <span class="example-spacer"></span>
  <mat-icon class="profile-icon">account_circle</mat-icon>
  <span class="user-name" [ngClass]="{'user-name-no-margin': isMobile}">{{ currentUser!.name}}</span>
  <div *ngIf="desk !== undefined && (isFavouriteLoaded | async)">
    <button *ngIf="desk!.deskUser.preference && isFavouriteLoaded" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click) = "removeFromFavourites(desk.id)">
      <mat-icon>favorite</mat-icon>
    </button>
    <button *ngIf="!desk!.deskUser.preference && isFavouriteLoaded" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click) = "addToFavourite(desk.id)">
      <mat-icon>favorite_border</mat-icon>
    </button>
  </div>
  <div *ngIf="desk === undefined">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite_border</mat-icon>
    </button>
  </div>
  <mat-spinner class="spinner-centered spinner-white" diameter="24" *ngIf="!(isFavouriteLoaded | async)"></mat-spinner>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
    <mat-icon *ngIf="isLogoutLoaded | async">logout</mat-icon>
    <mat-spinner *ngIf="!(isLogoutLoaded | async)" diameter="24"></mat-spinner>
  </button>
</mat-toolbar>

