<!--<div *ngIf="data.isEdit">
  <mat-form-field appearance="fill">
    <mat-label>Название задачи</mat-label>
    <input matInput placeholder="Новая задача" [formControl]="name" required>
    <mat-error *ngIf="name.invalid">Поле не должно быть пустым!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Описание задачи</mat-label>
    <input matInput placeholder="Очень хорошая задача" [formControl]="body" required>
    <mat-error *ngIf="name.invalid">Поле не должно быть пустым!</mat-error>
  </mat-form-field>
  <button class = "register_button" mat-raised-button color="primary" (click)="createToDo()">Обновить задачу</button>
</div>
<div *ngIf="!data.isEdit">

</div>-->

<form *ngIf="(isLoaded | async); else todoFormNotLoaded" [formGroup]="todoFormGroup" (ngSubmit)="applyDraft()">
  <mat-form-field appearance="fill">
    <mat-label>Название задачи</mat-label>
    <input matInput placeholder="Новая задача" formControlName="name" required>
    <mat-error *ngIf="todoFormGroup.controls.name.errors?.['required']">Поле не должно быть пустым!</mat-error>
    <mat-error *ngIf="todoFormGroup.controls.name.errors?.['minlength']">Длина названия должна быть не менее 3 символов!</mat-error>
  </mat-form-field>
  <div>
    <mat-label>Описание задачи</mat-label>
    <!--<textarea cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="6" matInput placeholder="Очень хорошая задача" formControlName="body" required></textarea>-->
    <mat-spinner *ngIf="!(editorLoaded | async)" class="spinner-centered" diameter="50"></mat-spinner>
    <editor formControlName="body"
            (onInit)="setLoaded()"
            (onAddUndo)="updateDraft()"
      [init]="editorConfig"
    ></editor>
    <mat-error *ngIf="todoFormGroup.controls.body.errors?.['required']">Поле не должно быть пустым!</mat-error>
  </div>
  <button *ngIf="formSubmitLoaded | async" class = "register_button" mat-raised-button color="primary" type="submit">Создать задачу</button>
  <mat-spinner class="spinner-centered" diameter="36" *ngIf="!(formSubmitLoaded | async)"></mat-spinner>
</form>
<ng-template #todoFormNotLoaded>
    <mat-spinner class="spinner-centered" diameter="50"></mat-spinner>
</ng-template>

