<!--<div *ngIf="data.isEdit">
  <mat-form-field appearance="fill">
    <mat-label>Название задачи</mat-label>
    <input matInput placeholder="Новая задача" [formControl]="name" required>
    <mat-error *ngIf="name.invalid">Поле не должно быть пустым!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Описание задачи</mat-label>
    <input matInput placeholder="Очень хорошая задача" [formControl]="body" required>
    <mat-error *ngIf="name.invalid">Поле не должно быть пустым!</mat-error>
  </mat-form-field>
  <button class = "register_button" mat-raised-button color="primary" (click)="createToDo()">Обновить задачу</button>
</div>
<div *ngIf="!data.isEdit">

</div>-->

<form [formGroup]="todoFormGroup" (ngSubmit)="applyDraft()">
  <mat-form-field appearance="fill">
    <mat-label>Название задачи</mat-label>
    <input matInput placeholder="Новая задача" formControlName="name" required>
    <mat-error *ngIf="todoFormGroup.controls.name.errors?.['required']">Поле не должно быть пустым!</mat-error>
    <mat-error *ngIf="todoFormGroup.controls.name.errors?.['minlength']">Длина названия должна быть не менее 3 символов!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Описание задачи</mat-label>
    <textarea cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="6" matInput placeholder="Очень хорошая задача" formControlName="body" required></textarea>
    <mat-error *ngIf="todoFormGroup.controls.body.errors?.['required']">Поле не должно быть пустым!</mat-error>
    <mat-error *ngIf="todoFormGroup.controls.body.errors?.['minlength']">Длина описания должна быть не менее 10 символов!</mat-error>
  </mat-form-field>
  <button *ngIf="isLoaded" class = "register_button" mat-raised-button color="primary" type="submit">Создать задачу</button>
  <mat-spinner class="spinner-centered" diameter="36" *ngIf="!isLoaded"></mat-spinner>
</form>

