.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.my-sidenav {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.my-sidenav h2 {
  margin: 10px;
}

.menu-bottom-button {
  flex: 1;
  float: left;
  width: 100%;
}

.register_button
{
  width: 100%;
}
.desk-cards {
 margin: 20px;
}

.settings-card{
  min-width: 300px;
  box-shadow: 0 0 3px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.settings-card mat-card-title p {
  display: flex;
}

.settings-card mat-card-title p mat-icon {
  margin-left: auto;
}

mat-form-field
{
  width:100%;
}

.invite-link {
  margin-top: 20px !important;
}



.users-list {
  max-height: 210px;
}

.mat-button {
  min-width: 10px !important;
  padding: 0 !important;
}

.column-card mat-card-title p button {
  position: relative;
  float: right;
  width: 40px;
  height: 24px;
  align-items: center;
}

.column-card mat-card-title p button mat-icon {
  vertical-align: super;
}

.invite-link p mat-icon {
  height: 17px;
  vertical-align: sub;
}

.column-card {
  width: 200px;
  float: left;
  margin: 1px 15px 10px 1px;
  height: calc(100% - 43px);
}

.example-list {
  margin-top: 10px;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  /*&border: none;*/
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column-card mat-card-subtitle {
  margin-top: 15px;
  display: flex;
}

.column-cards {
  display: flex;
}

.box-column-cards {
  display: flex;
  min-height: min-content;
}

.column-card mat-card-subtitle button {
  margin-left: auto;
  position: relative;
  float: right;
}

.column-card mat-card-subtitle p {
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.mat-typography p {
  margin: 0 !important;
}

.add-column-button {
  display: block;
}

.user-name {
  margin-right: 40px;
  padding-left: 10px;
  text-transform: capitalize;
}



.single-user div {
}

.desk-cards-inside {
  display: flex;
  align-items: flex-start;
}
.desk-cards-inside-margin {
  margin-top: 40px;
}

.mat-line {
  margin-top: auto;
  margin-bottom: auto;
}


.column-card-title {
  display: flex;
  justify-content: space-between;
}

mat-card-title p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 5px;
}

.todo-name, mat-card-title p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto 0 0;
}

.todo-name {
  cursor: pointer;
}
.desk-name {
  padding-bottom: 5px;
}

.spinner {
  margin: 20% auto auto;
}

.settings-card {
  min-width: 400px;
}

.assigned-icon {
  font-size: 16px;
  color: rgba(63,81,181, 0.8);
  vertical-align: text-top;
  height: 16px;
  width: 16px;
  margin-right: 5px;
  /*text-align: center;
  vertical-align: middle;
  margin-right: 7px;*/
}

.spinner-white {
  color: white;
  margin-right: 10px;
}

mat-toolbar ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: white;
}



mat-card-title mat-spinner {
  margin-top: 7px;
  padding-right: 5px;
}
.todos-list {
  margin-top: 10px;
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}
.invite-link-title {
  display: flex;
  align-items: center;
}
.invite-link-title mat-icon {
  margin-bottom: 9px;
}
.cards-list {
  margin-top: 10px;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: auto;
  display: flex;
}
.cards-list div:last-child mat-card {
  margin-right: 1px;
}

.single-user ::ng-deep.mat-list-item-content {
  justify-content: space-between;
}
.my-scrollbar {
  --scrollbar-padding: -6px;
  --scrollbar-size: 8px;
}
mat-card-title-group {
  align-items: center;
}
.todo-edit-icon {
  cursor: pointer;
}
.column-content {
  height: calc(100% - 43px);
}
.todos-list {
  height: calc(100% - 49px);
}
.column-content-first {
  height: calc(100% - 66px);
}
.column-content-first .todos-list {
  height: calc(100% - 49px);
}
.column-content-first .todos-list-no-columns-add-button {
  height: calc(100% - 26px);
}
/*.column-content {
  height: 100%;
}
.todos-list {
  height: 100%;
}*/
.column-menu-button {
  min-width: 24px !important;
}
.block-columns-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1000;
}
.desk-content {
  position: relative;
}
