<ng-container *ngIf="((isLoaded | async) && desks && desks.length); else noItemsRef">
  <mat-sidenav-container class="example-container" >
    <mat-sidenav class = "my-sidenav" mode="over" [(opened)]="opened" >
      <app-sidenav [desks]="desks" [(opened)]="opened" [currentDeskId]="desk!.id" (exitEvent)="handleExit()"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="desk-content">
      <app-header [currentUser]="getCurrentUser()" [(opened)]="opened" [(desks)]="desks" [currentDeskId]="getCurrentDesk()?.id"></app-header>
      <app-desk-info *ngIf="desk" [settingsLink]="['/desks', desk!.id, 'settings']" [desk]="desk" [currentUser]="deskUserService.getCurrentDeskUser(desk)!" [roles]="roles"></app-desk-info>

      <mat-card class = "desk-cards">
        <mat-card-title>
          <div class = "menu-bottom-button">
            <button *ngIf="rolesService.userHasPermission(this.roles, deskUserService.getCurrentDeskUser(desk)!, rolesService.permissionsTypes.CreateColumns)" class = "add-column-button" mat-raised-button color="primary" (click)="openColumnCreationDialog()">Добавить колонку<mat-icon>add</mat-icon></button>
          </div>
        </mat-card-title>
        <div class="desk-cards-inside" [ngClass]="{'desk-cards-inside-margin' : rolesService.userHasPermission(this.roles, deskUserService.getCurrentDeskUser(desk)!, rolesService.permissionsTypes.CreateColumns)}">
          <div cdkDropList
               [cdkDropListData]="columns"
               class="cards-list"
               (cdkDropListDropped)="dropColumn($event)"
               cdkDropListOrientation="horizontal"
               cdkDropListGroup
          >
            <div *ngFor="let column of columns; index as i">
              <mat-card class = "column-card" cdkDrag [cdkDragStartDelay]="useDragDelay ? 1000 : 0"
                        [cdkDragDisabled]="(!(column.type === 0 &&
                        rolesService.userHasPermission(this.roles, deskUserService.getCurrentDeskUser(desk)!, rolesService.permissionsTypes.ManageColumns)))">
                <mat-card-title class="column-card-title">
                  <mat-spinner *ngIf="!isColumnDeleteLoaded[i]" diameter="20"></mat-spinner>
                  <p #columnName [matTooltip]="column.name" [matTooltipDisabled]="!(columnName.offsetWidth < columnName.scrollWidth)">{{column.name}}</p>
                  <button mat-button class="column-menu-button" *ngIf="rolesService.userHasPermission(this.roles, deskUserService.getCurrentDeskUser(desk)!, rolesService.permissionsTypes.ManageColumns)" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openColumnUpdatingDialog(column)"><mat-icon>edit</mat-icon>Редактировать</button>
                    <button mat-menu-item *ngIf="column.todos.length === 0 && column.type === 0" (click)="removeColumn(column.id)"><mat-icon>delete</mat-icon>Удалить</button>
                  </mat-menu>

                </mat-card-title>

                <mat-card-content class="column-content" [ngClass]="{'column-content-first': column.order === -1}">
                  <mat-card-subtitle>
                    <p>Задачи:</p>
                    <button *ngIf="column.order == -1 && rolesService.userHasPermission(this.roles, deskUserService.getCurrentDeskUser(desk)!, rolesService.permissionsTypes.CreateOrUpdateTasks)" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="openToDoCreationDialog()" >
                      <mat-icon>add</mat-icon>
                    </button>
                  </mat-card-subtitle>
                  <div
                    cdkDropList
                    [cdkDropListData]="column.todos"
                    class="todos-list" [ngClass]="{'todos-list-no-columns-add-button': !rolesService.userHasPermission(this.roles, deskUserService.getCurrentDeskUser(desk)!, rolesService.permissionsTypes.ManageColumns)}"
                    (cdkDropListDropped)="drop($event, column.id)">
                    <div class="example-box" *ngFor="let toDo of column.todos" cdkDrag [cdkDragStartDelay]="useDragDelay ? 1000 : 0"
                         [cdkDragDisabled]="!rolesService.userHasPermission(this.roles, deskUserService.getCurrentDeskUser(desk)!, rolesService.permissionsTypes.MoveTasks)" >
                      <p (click)="openTaskShowingDialog(toDo)" class="todo-name">
                            <span>
                              <mat-icon matTooltip="Вы назначены исполнителем этой задачи!" class="assigned-icon" *ngIf="isUserAssigned(toDo)">circle</mat-icon>
                            </span>
                        <app-todo-code [todoCode]="toDo.code"></app-todo-code>{{toDo.name}}
                      </p>
                      <mat-icon *ngIf="rolesService.userHasPermission(this.roles, deskUserService.getCurrentDeskUser(desk)!, rolesService.permissionsTypes.CreateOrUpdateTasks)" (click)="openToDoEditingDialog(toDo)" class="todo-edit-icon">edit</mat-icon>
                    </div>
                  </div>
                </mat-card-content>

              </mat-card>
            </div>
          </div>
        </div>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-template #noItemsRef>
  <ng-container *ngIf="(desksLoaded | async) && (!desks || !desks.length); else loadingRef">
    <mat-sidenav-container class="example-container" >
      <mat-sidenav class = "my-sidenav" mode="over" [(opened)]="opened">
        <app-sidenav [desks]="desks" [(opened)]="opened"></app-sidenav>
      </mat-sidenav>

      <mat-sidenav-content>
        <app-header [currentUser]="getCurrentUser()!"  [(opened)]="opened"></app-header>
        <mat-card>
          <mat-card-title>
            Вы пока не назначены ни на одну из досок
          </mat-card-title>
        </mat-card>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>
</ng-template>

<ng-template #loadingRef>
  <mat-sidenav-container class="example-container" >
    <mat-sidenav class = "my-sidenav" mode="over" [(opened)]="opened">
      <app-sidenav [desks]="desks" [(opened)]="opened"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="full-height-content">
      <app-header [currentUser]="getCurrentUser()!"  [(opened)]="opened"></app-header>
      <mat-spinner class="spinner" diameter="50"></mat-spinner>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
