.roles-wrapper {
  display: flex;
  width: 100%;
}
.roles-list {
  padding: 10px;
  flex: 1;
  max-width: 40%;
}
.permissions-list {
  padding: 10px;
  width: 60%;
}
.chosen-role {
  background-color: #F0F0F0;
}
.add-role-button {
  margin-top: 20px;
  margin-bottom: 20px;
}
::ng-deep.single-role .mat-list-item-content {
  display: flex;
  justify-content: space-between;
}
.role-delete-icon {
  margin-left: 15px;
}
::ng-deep.big-sidenav {
  width: 300px !important;
}
.permissions-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.permissions-title h2 {
  margin-right: 15px;
  margin-bottom: 0;
}
.roles-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.role-controls {
  display: flex;
}
.permissions-list ::ng-deep .mat-checkbox-layout {
  white-space: initial;
}
.permissions-list-full-width {
  width: 100%;
  padding: 0;
}
.roles-list-full-width {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}
.roles-list ::ng-deep .mat-expansion-panel-body {
  padding: 0 10px 10px;
}
.roles-panel-title {
  justify-content: space-between;
  min-width: 0;
  margin-right: 0;
}
.role-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.role-delete-spinner {
  margin-left: 15px;
}
