<div class="roles-wrapper">
  <div class="roles-list">
    <h2>Роли</h2>
    <mat-nav-list>
      <a mat-list-item class="single-role" *ngFor="let role of roles" (click)="getPermissionsForRole(role)" [class.chosen-role]="role.id === currentRole?.id">
        <div>
          {{role.name}}
        </div>
        <div>
          <mat-icon (click)="openRoleUpdatingDialog(role)">edit</mat-icon>
          <mat-icon class="role-delete-icon" (click)="openRoleDeletingDialog(role)">delete</mat-icon>
        </div>
      </a>
    </mat-nav-list>
    <button class="add-role-button" mat-raised-button (click)="openRoleCreationDialog()"><mat-icon>add</mat-icon>Добавить роль</button>

  </div>
  <div class="permissions-list">
    <mat-card>
      <div class="permissions-title">
        <h2>Разрешения</h2>
        <div>
          <mat-checkbox *ngIf="!currentRole!.isDefault" (click)="setRoleAsDefault()" matTooltip="Роль, которая будет автоматически назначена новому участнику при добавлении по ссылке">Роль по умолчанию</mat-checkbox>
          <mat-checkbox *ngIf="currentRole!.isDefault" disabled [checked]="true" matTooltip="Эта роль уже назначена в качестве роли по умолчанию!">Роль по умолчанию</mat-checkbox>
        </div>
      </div>
      <div *ngFor="let permission of allPermissions">
        <mat-checkbox *ngIf="currentRoleHasPermission(permission)" [checked]="true" (click)="revokePermissionFromRole(permission)">{{permission.permissionName}}</mat-checkbox>
        <mat-checkbox *ngIf="!currentRoleHasPermission(permission)" (click)="grantPermissionToRole(permission)">{{permission.permissionName}}</mat-checkbox>
      </div>
    </mat-card>
  </div>
</div>
