<div *ngIf="isLoaded && desk && desks.length">
  <mat-sidenav-container class="example-container" >
    <!--<mat-sidenav class = "my-sidenav" #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
      <h2 class="mat-h2">Мои доски</h2>
      <div class="sidenav-container">
        <mat-nav-list>
          <mat-list-item *ngFor="let desk of desks; index as i">

            <a matLine (click) = "changeDesk(desk.id)">{{ desk.name }}<mat-divider></mat-divider></a>
          </mat-list-item>

        </mat-nav-list>
        <div class = "menu-bottom-button">
          <button class = "register_button create-desk-button" mat-raised-button color="primary" (click)="showDeskCreation()">Создать доску</button>
        </div>
      </div>
    </mat-sidenav>-->
    <mat-sidenav class = "my-sidenav" mode="over" [(opened)]="opened" >
      <app-sidenav [desks]="desks" [(opened)]="opened"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-header [currentUser]="getCurrentUser()" [(opened)]="opened" [(desks)]="desks" [currentDeskId]="getCurrentDesk()?.id"></app-header>
      <app-desk-info [returnLink]="['/desks', this.desk.id]" [desk]="desk"></app-desk-info>

      <mat-tab-group class="mat-tab-group-wrap" animationDuration="0ms">
        <mat-tab label="Общие" *ngIf="hasAnyPermissionsForGeneralSettings()">
          <app-general-settings [(desk)]="desk" [(desks)]="desks" [roles]="roles"></app-general-settings>
        </mat-tab>
        <mat-tab label="Пользователи">
          <app-users-settings [(desk)]="desk" [desks]="desks" [roles]="roles"></app-users-settings>
        </mat-tab>
        <mat-tab label="Роли" *ngIf="checkUserPermission(getCurrentDesk()!.deskUser, 'ManageRoles')" >
          <app-roles-settings [(roles)]="roles" [(desk)]="desk"></app-roles-settings>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!isLoaded || !areRolesLoaded">
  <mat-sidenav-container class="example-container" >
    <mat-sidenav class = "my-sidenav" #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
      <p class="h-minor-title">Мои доски</p>
      <div class="sidenav-container">
        <mat-nav-list>
          <!--<a mat-list-item *ngFor="let desk of desks"> {{ desk.name }}<mat-divider></mat-divider> </a>-->
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="full-height-content">
      <app-header [currentUser]="getCurrentUser()" [sidenav]="sidenav"></app-header>
      <mat-spinner class="spinner" diameter="50"></mat-spinner>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
