<div *ngIf="(isLoaded | async ) && desk && desks.length">
  <mat-sidenav-container class="example-container" >
    <mat-sidenav class = "my-sidenav" mode="over" [(opened)]="opened" >
      <app-sidenav [desks]="desks" [(opened)]="opened"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-header [currentUser]="getCurrentUser()" [(opened)]="opened" [(desks)]="desks" [currentDeskId]="desk.id"></app-header>
      <app-desk-info [returnLink]="['/desks', this.desk.id]" [desk]="desk" [currentUser]="deskUserService.getCurrentDeskUser(desk)!" [roles]="roles"></app-desk-info>

      <mat-tab-group class="mat-tab-group-wrap" animationDuration="0ms">
        <mat-tab label="Общие" *ngIf="rolesService.userHasAtLeastOnePermissionForGeneralSettings(roles, deskUserService.getCurrentDeskUser(desk)!)">
          <app-general-settings [(desk)]="desk" [(desks)]="desks" [roles]="roles"></app-general-settings>
        </mat-tab>
        <mat-tab label="Пользователи" *ngIf="rolesService.userHasAtLeastOnePermissionForUsersSettings(roles, deskUserService.getCurrentDeskUser(desk)!)">
          <app-users-settings [(desk)]="desk" [desks]="desks" [roles]="roles"></app-users-settings>
        </mat-tab>
        <mat-tab label="Роли" *ngIf="rolesService.userHasAtLeastOnePermissionForRolesSettings(roles, deskUserService.getCurrentDeskUser(desk)!)" >
          <app-roles-settings [(roles)]="roles" [(desk)]="desk"></app-roles-settings>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!(isLoaded | async)">
  <mat-sidenav-container class="example-container" >
    <mat-sidenav class = "my-sidenav" #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
      <p class="h-minor-title">Мои доски</p>
      <div class="sidenav-container">
        <mat-nav-list>
          <!--<a mat-list-item *ngFor="let desk of desks"> {{ desk.name }}<mat-divider></mat-divider> </a>-->
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="full-height-content">
      <app-header [currentUser]="getCurrentUser()" [sidenav]="sidenav"></app-header>
      <mat-spinner class="spinner" diameter="50"></mat-spinner>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
